body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: white;
    transition: background-color 0.5s;
}

h1 {
    margin: 20px 0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    color: rgb(240, 234, 234);
    transition: opacity 0.3s;
}

button#purple {
    background-color: purple;
}

button#pink {
    background-color: pink;
}

button#navy {
    background-color: navy;
}

button#orange {
    background-color: orange;
}

button#red {
    background-color: red;
}

button:hover {
    opacity: 0.8;
}