body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.container {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #562046;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex-grow: 1;
    padding: 15px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #5755ce;
    color: white;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #775caa;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0 0;
    text-align: left;
}

li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

li.completed {
    text-decoration: line-through;
    color: #999;
}

li button {
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3cf436;
    color: white;
    transition: background-color 0.3s;
    margin-left: 10px;
}

li button:hover {
    background-color: #b2d32f;
}