body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 15px;
}

.quiz-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 15px;
    background-color: rgb(223, 238, 135);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.question {
    margin-bottom: 25px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #5310c0;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 15px;
    font-size: 13px;
    text-align: center;
}